:root {
    --background-color: #EEEEEE;
    --primary-color: #d42e2e;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: var(--background-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-x: hidden;
}

nav {
    height: 10vh;
    width: 100%;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.left {
    height: 80%;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

.center {
    height: 80%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center ul {
    list-style: none;
    height: 90%;
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
}

.center ul li {
    position: relative;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center ul li a {
    text-decoration: none;
    color: var(--background-color);
}

li .drop {
    padding: 10px 20px;
    height: max-content;
    width: calc(10vw + 100px);
    background-color: var(--primary-color);
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    left: 10px;
    top: 50px;
}

li .drop>ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20p;
}

li .drop ul li {
    height: 20px;
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
}

a {
    position: relative;
}

a::before {
    content: '';
    height: 2px;
    width: 0%;
    background-color: var(--background-color);
    position: absolute;
    bottom: 0px;
    left: 0px;
    transition: all .2s ease-in;
}

a:hover::before {
    width: 100%;
}

.right {
    height: 100%;
    width: 10%;
    display: block;
}