* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

.pg {
    height: 100%;
    width: 100%;
    background-color: #ffffff;
}

nav {
    height: 10%;
    width: 100%;
    background-color: #c25c09;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.left {
    height: 100%;
    width: 10%;
}

.logo {
    height: 100%;
    width: 100%;
}

.logo img {
    padding: 05px 20px;
    height: 100%;
    border-radius: 50%;
}

.center {
    height: 100%;
    width: 60%;
}

ul,li,a {
    list-style: none;
    color: #ffffff;
    text-decoration: none;
}

.center ul {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.center ul li a {
    transition: all .2s ease-in-out;
}

.center ul li a:hover {
    font-size: large;
    color: #000000;
    background-color: aliceblue;
    padding: 10px 20px;
    border-radius: 10px;
}

.center ul li .whatsaap:hover {
    color: #25D366;
}


.right {
    margin-left: auto;
    margin-right: 1rem;
    height: 100%;
    width: 10%;
    background-color: #090909;
    display: none;
}

@media screen and (max-width: 760px) {
    .right {
        display: block;
    }

    .center {
        display: none;
    }
}

.hamburger {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    position: relative;
}

.bar {
    height: 2px;
    width: 25px;
    background-color: aliceblue;
}

.side-bar {
    height: 80%;
    width: 50%;
    background-color: #c25c09;
    display: none;
    position: absolute;
    right: 0%;
}

.side-bar ul {
    padding: 40px 20px;
    height: 90%;
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.side-bar ul li a:hover {
    transition: all .2s ease-in;
}

.side-bar ul li a:hover {
    font-size: large;
    color: #000000;
    background-color: aliceblue;
    padding: 10px 20px;
    border-radius: 10px;
}

.side-bar ul li .whatsaap:hover {
    color: #25D366;
}