:root {
    --black: #000;
    --white: #fff;
    --whatsApp-green-dark: #11813a;
    --whatsApp-green: #25D366;
    --dummy1: #000000d9;
    --dummy2: #000000a4;
    --dummy3: #0000006b;
    --dummy4: #00000036;
    --temp1: #2d2d2d;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

.invert {
    filter: invert(1);
}

.pg {
    height: 100%;
    width: 100%;
    background-color: var(--white);
    position: relative;
}

nav {
    height: 10%;
    width: 100%;
    background-color: var(--black);
    color: var(--white);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0px;
    z-index: 99;
}

.left {
    height: 100%;
    width: 10%;
}

.logo {
    margin-left: 0rem;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    font-weight: 800;
}

.center {
    height: 100%;
    width: 60%;
}

ul,
li,
a {
    list-style: none;
    color: var(--white);
    text-decoration: none;
}

.center ul {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.center ul li a {
    transition: all .2s ease-in-out;
}

.center ul li a:hover {
    color: var(--black);
    background-color: var(--white);
    padding: 10px 20px;
    border-radius: 10px;
}

.center ul li .whatsaap:hover {
    background-color: var(--whatsApp-green);
}


.right {
    margin-left: calc(auto - 10px);
    margin-right: 1rem;
    height: 100%;
    width: 10%;
    display: none;
}

@media screen and (max-width: 760px) {
    .right {
        display: block;
    }

    .center {
        display: none;
    }
}

.hamburger {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    position: relative;
}

.bar {
    height: 2px;
    width: 25px;
    background-color: var(--white);
}

.side-bar {
    width: 50%;
    background-color: var(--black);
    display: none;
    position: absolute;
    right: 0%;
}

.side-bar ul {
    padding: 40px 20px;
    height: 100%;
    width: 100%;
    background-color: var(--black);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.side-bar ul li a:hover {
    transition: all .2s ease-in;
}

.side-bar ul li a:hover {
    font-size: large;
    color: var(--black);
    background-color: var(--white);
    padding: 10px 20px;
    border-radius: 10px;
}

.side-bar ul li .whatsaap:hover {
    background-color: var(--whatsApp-green);
}

/* nav bar completed with responsive */

section {
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.hero {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.mySlides {
    display: none
}

img {
    vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    max-height: 100%;
    position: relative;
    margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: var(--white);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: var(--dummy1);
}

/* Caption text */
.text {
    color: var(--white);
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: var(--white);
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: var(--white);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: var(--white);
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {

    .prev,
    .next,
    .text {
        font-size: 11px
    }
}

.pg:nth-child(even) {
    background-color: var(--dummy1);
}

/* home page completed  */
#products section {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

#products section header {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#products section main {
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    overflow: auto;
}

main .card {
    padding: 20px 10px;
    height: 60vh;
    width: 20vw;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.card .card-img {
    height: 80%;
    width: 100%;
}

.card-img img {
    width: 100%;
    height: 100%;
    aspect-ratio: 3/4;
    object-fit: cover;

}

.product-info {
    padding-top: 10px;
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
}

.btns {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.btns button {
    height: 30px;
    width: 100%;
    background-color: var(--whatsApp-green);
    transition: all .1s ease-in;
    border-radius: 50px;
}

.btns button:hover {
    font-size: 1rem;
    background-color: var(--whatsApp-green-dark);
}

.light {
    color: var(--dummy4);
    font-size: 12px;
}

button {
    background: transparent;
    border: none;
}


@media screen and (max-width: 760px) {
    main .card {
        height: 60vh;
        width: 30vw;
        display: flex;
        flex-shrink: 2;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        overflow: hidden;
    }

    .card-img {
        padding: 5px 0;
        height: 100%;
        width: 100%;
    }


    #address section .adrees-info aside {
        padding: 20px 2px;
    }


}

/* PRODUCTS PAGE COMPLETED */

#address section {
    height: 100%;
    width: 100%;
}

#address section .adrees-info {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#address section .adrees-info aside {
    height: 100%;
    width: 40%;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 40px;
}

.adrees-info aside h1 {
    font-size: 30px;
    padding: 40px 20px;
}

.adrees-info aside p {
    font-size: 16px;
    opacity: .8;
    padding: 40px 20px;
}

/* address page completed */

#location .location {
    height: 100%;
    width: 100%;
    padding: 5rem 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#location .location iframe {
    height: 100%;
    width: 100%;
    border-radius: 20px;
}

footer {
    height: 100%;
    width: 100%;
    background-color: var(--black);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

footer .top {
    padding: 10px 20px;
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-content: center;
}

footer .top .logo {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

footer .top .adrs {
    height: 100%;
    width: 80%;
    padding: 10px 20px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    line-height: 36px;
}

footer .foot-main {
    height: 60%;
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

footer .foot-main span {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 20px;
}

footer .foot-main span ul {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 20px;
}

footer .foot-main span ul li {
    list-style-type: disc;
}